@font-face { 
  font-family:'FontAwesome';
  src:url('./fonts/fontawesome-webfont.eot-v-4.6.3');
  src:url('./fonts/fontawesome-webfont.eot-#iefix&v-4.6.3') format('embedded-opentype'),url('./fonts/fontawesome-webfont.woff2-v-4.6.3') format('woff2'),url('./fonts/fontawesome-webfont.woff-v-4.6.3') format('woff'),url('./fonts/fontawesome-webfont.ttf-v-4.6.3') format('truetype'),url('./fonts/fontawesome-webfont.svg-v-4.6.3#fontawesomeregular') format('svg');
  font-weight:normal;
  font-style:normal;
} 
  body {  
    font:inherit;
    line-height:1.42857;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    color:#353535;
    background:#f7f7f7;
    letter-spacing:0.5px;
  }  
* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

body { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

body { 
    line-height: 1;
} 

body { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 14px; 
    line-height: 1.42857; 
    color: #333333; 
    background-color: #fff;
} 

body { 
    background: #f7f7f7; 
    color: #353535; 
    letter-spacing: 0.5px;
} 

html { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

html { 
    -webkit-text-size-adjust: none;
} 

html { 
    font-size: 10px; 
    -webkit-tap-highlight-color: transparent;
} 

html { 
    font-size: 14px;
} 

div { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

.container { 
    margin-right: auto; 
    margin-left: auto; 
    padding-left: 15px; 
    padding-right: 15px;
} 

@media (min-width: 768px){ 
  .container { 
    width: 750px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    width: 970px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    width: 1170px;
  } 
}     

#content-wrapper { 
    padding-top: 20px; 
    padding-bottom: 40px;
} 

:before,:after { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

.container:before,.container:after { 
    content: " "; 
    display: table;
} 

.container:after { 
    clear: both;
} 

.row { 
    margin-left: -15px; 
    margin-right: -15px;
} 

.row:before,.row:after { 
    content: " "; 
    display: table;
} 

.row:after { 
    clear: both;
} 

.col-sm-12 { 
    position: relative; 
    min-height: 1px; 
    padding-left: 15px; 
    padding-right: 15px;
} 

@media (min-width: 768px){ 
  .col-sm-12 { 
    float: left;
  } 

  .col-sm-12 { 
    width: 100%;
  } 
}     

.col-md-3 { 
    position: relative; 
    min-height: 1px; 
    padding-left: 15px; 
    padding-right: 15px;
} 

@media (min-width: 992px){ 
  .col-md-3 { 
    float: left;
  } 

  .col-md-3 { 
    width: 25%;
  } 

  .col-md-push-9 { 
    left: 75%;
  } 
}     

#right-col { 
    margin-bottom: 15px;
} 

@media (min-width: 992px){ 
  #right-col { 
    margin-bottom: 0;
  } 
}     

.col-md-9 { 
    position: relative; 
    min-height: 1px; 
    padding-left: 15px; 
    padding-right: 15px;
} 

@media (min-width: 992px){ 
  .col-md-9 { 
    float: left;
  } 

  .col-md-9 { 
    width: 75%;
  } 

  .col-md-pull-3 { 
    right: 25%;
  } 

  #left-col { 
    padding-right: 40px;
  } 
}     

nav { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

nav { 
    display: block;
} 

h1 { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

h1.page-title { 
    font-size: 30px; 
    text-transform: uppercase; 
    font-weight: 500; 
    line-height: 1.1; 
    margin: 30px 0 15px;
} 

p { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

#program-code { 
    background: #efefef; 
    margin: 0 0 30px; 
    border-top: 4px solid #80bde2; 
    color: #333; 
    padding: 6px 12px; 
    display: inline-block; 
    font-size: 14px; 
    line-height: 1.42857143; 
    text-align: center;
} 

button { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

button { 
    text-transform: inherit; 
    font-weight: inherit; 
    border-radius: 0; 
    background: none; 
    cursor: pointer;
} 

button { 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

#sidebar-nav-mobile { 
    display: block; 
    width: 100%; 
    box-sizing: border-box; 
    background: #E6E7E9; 
    color: #333; 
    padding: 6px 12px; 
    cursor: pointer; 
    font-size: 14px; 
    line-height: 1.42857143; 
    text-align: center; 
    text-transform: none; 
    border-radius: 4px;
} 

@media (min-width: 992px){ 
  #sidebar-nav-mobile { 
    display: none;
  } 
}     

#sidebar { 
    display: none;
} 

@media (min-width: 992px){ 
  #sidebar { 
    display: block;
  } 
}     

#content { 
    line-height: 1.5;
} 

ul { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

ul { 
    list-style: none;
} 

#breadcrumb ul::before, #breadcrumb ul::after { 
    content: " "; 
    display: table;
} 

#breadcrumb ul::after { 
    clear: both;
} 

i { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

i { 
    font-style: italic;
} 

.fa { 
    display: inline-block; 
    font: normal normal normal 14px/1 FontAwesome; 
    font-size: inherit; 
    text-rendering: auto; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

#sidebar-nav-mobile .fa  { 
    margin-left: 5px;
} 

.fa-navicon:before,.fa-reorder:before,.fa-bars:before { 
    content: "\f0c9";
} 

a { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

a { 
    outline: none;
} 

a { 
    color: #337ab7; 
    text-decoration: none;
} 

a { 
    color: #005fa9;
} 

#sidebar .back-to-college  { 
    border-radius: 5px; 
    background: #091F40; 
    color: #fff; 
    text-align: center; 
    text-transform: uppercase; 
    padding: 10px 10px; 
    font-size: 12px; 
    font-weight: bold; 
    display: block; 
    text-decoration: none; 
    margin-bottom: 15px;
} 

a:hover { 
    color: #23527c; 
    text-decoration: underline;
} 

body.program-page:not(.staging-env):not(.pennstatelaw) #cl-menu  { 
    display: none;
} 

[role="button"] { 
    cursor: pointer;
} 

a#print-btn { 
    display: block; 
    background: #80BCE0; 
    text-align: center; 
    color: #fff; 
    padding: 10px; 
    text-decoration: none; 
    font-size: 0.9em; 
    margin-top: 15px; 
    border-radius: 4px; 
    font-weight: bold;
} 

a#print-btn:hover { 
    text-decoration: underline;
} 

#campus-study { 
    background: #E9EEF5; 
    font-size: 1.1em; 
    margin-bottom: 25px;
} 

li { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

#breadcrumb ul li  { 
    padding: 0; 
    float: left; 
    text-transform: uppercase; 
    font-size: 0.9em;
} 

#sidebar .back-to-college i  { 
    margin-right: 5px; 
    position: relative; 
    left: 0; 
    transition: all .2s;
} 

.fa-chevron-left:before { 
    content: "\f053";
} 

#tabs ul  { 
    margin: 0 0 15px; 
    background: #E9EEF5;
} 

.clearfix:before,.clearfix:after { 
    content: " "; 
    display: table;
} 

.clearfix:after { 
    clear: both;
} 

#cl-menu ul  { 
    margin: 0 0 15px; 
    background: #E9EEF5;
} 

.fa-print:before { 
    content: "\f02f";
} 

span { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

.sr-only { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip: rect(0, 0, 0, 0); 
    border: 0;
} 

.sr-only { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    padding: 0; 
    overflow: hidden; 
    clip: rect(0, 0, 0, 0); 
    border: 0;
} 

img { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

img { 
    max-width: 100%;
} 

img { 
    vertical-align: middle;
} 

#banner-image img  { 
    width: 100%; 
    height: auto; 
    display: block; 
    margin-bottom: 30px;
} 

#content p  { 
    margin-bottom: 25px;
} 

#content p  { 
    line-height: 1.8;
} 

#campus-study > p  { 
    font-size: 18px;
} 

#campus-study p  { 
    padding: 10px 20px; 
    margin: 0;
} 

#campus-study [data-toggle]  { 
    cursor: pointer; 
    width: 100%;
} 

#campus-study p#campus-list-toggle::after { 
    font-family: "FontAwesome"; 
    content: '\f067'; 
    float: right;
} 

#campus-study [aria-hidden="true"]  { 
    display: none;
} 

#campus-study #campus-list  { 
    background: #fff; 
    padding-top: 10px;
} 

h2 { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

#content h2  { 
    font-weight: 500; 
    line-height: 1.1; 
    text-transform: uppercase;
} 

#content h2  { 
    margin: 30px 0 15px;
} 

#content h2  { 
    font-size: 24px; 
    border-bottom: 1px solid #ccc; 
    padding-bottom: 5px;
} 

#content .page_content > h2:first-child  { 
    padding-top: 0; 
    margin-top: 0;
} 

h3 { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

#content h3  { 
    font-weight: 500; 
    line-height: 1.1; 
    text-transform: uppercase;
} 

#content h3  { 
    margin: 30px 0 15px;
} 

#content h3  { 
    font-size: 20px;
} 

#content ul  { 
    margin-bottom: 25px;
} 

#content ul  { 
    padding-left: 1.5em;
} 

#content ul:not([type])  { 
    list-style: disc;
} 

dl { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

dl.sc_footnotes { 
    box-sizing: border-box; 
    padding: 0; 
    margin: 0; 
    font-size: .85rem;
} 

dl.sc_footnotes { 
    margin-bottom: 15px;
} 

dl.sc_footnotes { 
    display: block;
} 

dl.sc_footnotes { 
    font-size: 1rem;
} 

#content dl  { 
    margin-bottom: 25px;
} 

table { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

table { 
    border-collapse: collapse; 
    border-spacing: 0;
} 

table { 
    background-color: transparent;
} 

table[class^="sc_"] { 
    width: 100%;
} 

#content table  { 
    margin-bottom: 25px;
} 

#content table  { 
    width: 100%;
} 

.toggle-group { 
    margin-bottom: 25px;
} 

ol { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

ol:not([type]) { 
    list-style: none;
} 

#content ol  { 
    margin-bottom: 25px;
} 

#content ol  { 
    padding-left: 1.5em;
} 

#content ol:not([type])  { 
    list-style: decimal;
} 

#breadcrumb ul li a  { 
    text-decoration: none; 
    color: #005fa9;
} 

#breadcrumb ul li a:hover { 
    text-decoration: underline;
} 

#breadcrumb ul .crumbsep  { 
    padding: 0 0.4em;
} 

#breadcrumb ul li a:hover, #breadcrumb ul li a:focus { 
    text-decoration: underline;
} 

#tabs ul li  { 
    border-bottom: 1px solid rgba(131, 174, 224, 0.35); 
    position: relative; 
    display: block; 
    line-height: 1.6;
} 

#tabs ul li:first-child  { 
    border-top: 1px solid rgba(131, 174, 224, 0.35);
} 

#cl-menu ul li  { 
    border-bottom: 1px solid rgba(131, 174, 224, 0.35); 
    position: relative; 
    display: block; 
    line-height: 1.6;
} 

#cl-menu ul li:first-child  { 
    border-top: 1px solid rgba(131, 174, 224, 0.35);
} 

#campus-study #beg-end-list  { 
    padding-bottom: 10px;
} 

#content ul li  { 
    line-height: 1.6;
} 

dt { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

dt { 
    font-weight: bold;
} 

dl.sc_footnotes dt  { 
    box-sizing: border-box; 
    padding: 0; 
    margin: 0; 
    font-size: .85rem;
} 

dl.sc_footnotes dt  { 
    display: inline-block; 
    vertical-align: top;
} 

dl.sc_footnotes dt  { 
    width: 5%; 
    font-weight: bold; 
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    -ms-word-break: break-all; 
    word-break: break-all; 
    word-break: break-word; 
    -ms-hyphens: auto; 
    -moz-hyphens: auto; 
    -webkit-hyphens: auto; 
    hyphens: auto;
} 

dl.sc_footnotes dt  { 
    font-size: 1rem;
} 

dl.sc_footnotes dt  { 
    font-weight: normal;
} 

dl.sc_footnotes dt  { 
    width: 3%;
} 

dd { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

dl.sc_footnotes dd  { 
    box-sizing: border-box; 
    padding: 0; 
    margin: 0; 
    font-size: .85rem;
} 

dl.sc_footnotes dd  { 
    display: inline-block; 
    vertical-align: top;
} 

dl.sc_footnotes dd  { 
    width: 94%;
} 

dl.sc_footnotes dd  { 
    font-size: 1rem;
} 

dl.sc_footnotes dd  { 
    width: 96%;
} 

strong { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

strong { 
    font-weight: bold;
} 

caption { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

caption { 
    padding-top: 8px; 
    padding-bottom: 8px; 
    color: #777777; 
    text-align: left;
} 

table caption  { 
    text-align: left; 
    position: absolute; 
    left: -9999em;
} 

.hidden { 
    position: absolute; 
    left: -9999em;
} 

.hidden { 
    display: none !important;
} 

thead { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

tbody { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

#content a  { 
    text-decoration: none; 
    color: #005fa9;
} 

a,#content a ,.page_content a ,#content .page_content a  { 
    color: #005fa9;
} 

#content a:hover { 
    color: #23527c; 
    text-decoration: underline;
} 

#content ol li  { 
    line-height: 1.6;
} 

#content a:hover, #content a:focus { 
    color: #23527c; 
    text-decoration: underline;
} 

#tabs ul li a  { 
    display: block; 
    text-decoration: none; 
    position: relative; 
    padding: 10px 15px; 
    font-size: 1.15em;
} 

 #tabs ul li a:hover { 
    border-left: 3px solid #80bde2; 
    margin-left: -2px; 
    background: #fff; 
    padding-left: 14px;
} 

#tabs ul li.active a, #tabs ul li a:hover, #tabs ul li a:focus, #cl-menu ul li.active a, #cl-menu ul li a:hover, #cl-menu ul li a:focus { 
    border-left: 3px solid #80bde2; 
    margin-left: -2px; 
    background: #fff; 
    padding-left: 14px;
} 

#cl-menu ul li a  { 
    display: block; 
    text-decoration: none; 
    position: relative; 
    padding: 10px 15px; 
    font-size: 1.15em;
} 

.col-sm-6 { 
    position: relative; 
    min-height: 1px; 
    padding-left: 15px; 
    padding-right: 15px;
} 

@media (min-width: 768px){ 
  .col-sm-6 { 
    float: left;
  } 

  .col-sm-6 { 
    width: 50%;
  } 
}     

#content p.noindent  { 
    margin: 0; 
    padding: 0;
} 

tr { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

#content table tr.even  { 
    background: #fff;
} 

#content table tr.odd  { 
    background: #efefef;
} 

h3.toggle { 
    padding: 0; 
    margin: 0;
} 

#content .toggle  { 
    border: none;
} 

h2.toggle:before,h2.toggle:after,h3.toggle:before,h3.toggle:after,h4.toggle:before,h4.toggle:after { 
    display: none;
} 

.toggle-group .toggle-content[aria-hidden="true"]  { 
    display: none;
} 

#content .toggle-content  { 
    padding: 0 15px;
} 

#content .toggle + [aria-hidden]  { 
    display: none;
} 

sup { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

sup { 
    font-size: 0.75em; 
    line-height: 1;
} 

sup { 
    vertical-align: super;
} 

#content sup  { 
    font-size: 0.8em; 
    line-height: 1;
} 

#content sup  { 
    vertical-align: super;
} 

#campus-study #campus-list p  { 
    padding: 5px 20px; 
    line-height: 1.3;
} 

th { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

th { 
    text-align: left;
} 

table[class^="sc_"] th  { 
    padding: 0.25rem; 
    text-align: left; 
    vertical-align: top;
} 

table[class^="sc_"] th  { 
    font-weight: bold;
} 

#content table th  { 
    padding: 8px; 
    text-align: left; 
    vertical-align: top; 
    line-height: 1.42857143;
} 

#content table th  { 
    font-weight: bold; 
    vertical-align: bottom; 
    border-bottom: 2px solid #ddd;
} 

td { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

table[class^="sc_"] td  { 
    padding: 0.25rem; 
    text-align: left; 
    vertical-align: top;
} 

#content table td  { 
    padding: 8px; 
    text-align: left; 
    vertical-align: top; 
    line-height: 1.42857143;
} 

#content table td  { 
    border-top: 1px solid #ddd;
} 

h3.toggle button  { 
    width: 100%; 
    text-align: left; 
    background: none; 
    text-transform: inherit; 
    padding: 5px 0 5px 30px; 
    cursor: pointer; 
    color: inherit; 
    position: relative;
} 

#content .toggle button  { 
    width: 100%; 
    background: none; 
    color: inherit; 
    cursor: pointer; 
    text-align: left; 
    box-sizing: border-box; 
    text-transform: inherit; 
    position: relative; 
    padding-left: 30px;
} 

h2.toggle button::before, h3.toggle button::before, h4.toggle button::before { 
    content: '+'; 
    line-height: 0; 
    font-weight: normal; 
    vertical-align: top; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    left: 0;
} 

#content .toggle button::before { 
    content: "\f067"; 
    font-family: FontAwesome; 
    position: absolute; 
    top: 50%; 
    left: 0; 
    width: 26px; 
    display: inline-block; 
    color: #bababa;
} 

#content .toggle-content .toggle-wrap  { 
    border: none;
} 

#content table .plangridyear th  { 
    background: #091F40; 
    color: #fff; 
    border-bottom: none;
} 

table.sc_plangrid .plangridterm th  { 
    background: #F6F6F6; 
    color: inherit; 
    text-transform: uppercase; 
    font-size: 0.85em; 
    border-bottom: 0;
} 

table[class^="sc_"] tr th.hourscol  { 
    text-align: right; 
    width: 10%; 
    white-space: nowrap;
} 

#content table tr th.hourscol  { 
    text-align: right; 
    width: 10%; 
    white-space: nowrap;
} 

table[class^="sc_"] tr td.hourscol  { 
    text-align: right; 
    width: 10%; 
    white-space: nowrap;
} 

#content table tr td.hourscol  { 
    text-align: right; 
    width: 10%; 
    white-space: nowrap;
} 

table[class^="sc_"] tr.plangridsum td  { 
    font-weight: bold;
} 

#content table tr.plangridsum td  { 
    font-weight: bold;
} 

table[class^="sc_"] tr.plangridtotal td  { 
    font-weight: bold;
} 

#content table tr.plangridtotal td  { 
    font-weight: bold;
} 

p img  { 
    margin: 0;
} 

h4 { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

h4.toggle { 
    padding: 0; 
    margin: 0;
} 

#content h4  { 
    font-weight: 500; 
    line-height: 1.1; 
    text-transform: uppercase;
} 

#content h4  { 
    margin: 30px 0;
} 

#content h4  { 
    font-size: 18px;
} 

table[class^="sc_"] tr.areaheader  { 
    font-weight: bold;
} 

#content table tr.areaheader  { 
    font-weight: bold;
} 

table[class^="sc_"] tr.areasubheader  { 
    font-style: italic;
} 

#content table tr.areasubheader  { 
    font-weight: bold;
} 

#content table tr.areasubheader  { 
    font-style: italic;
} 

h4.toggle button  { 
    width: 100%; 
    text-align: left; 
    background: none; 
    text-transform: inherit; 
    padding: 5px 0 5px 30px; 
    cursor: pointer; 
    color: inherit; 
    position: relative;
} 

b { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font: inherit; 
    vertical-align: baseline;
} 

b { 
    font-weight: bold;
} 

table[class^="sc_"] tr.areaheader td  { 
    font-weight: bold;
} 

#content table tr.areaheader td  { 
    font-weight: bold;
} 

#content table.sc_courselist tr.areaheader td  { 
    padding-top: 12px; 
    padding-bottom: 12px; 
    text-transform: uppercase; 
    font-size: 1.1em;
} 

#content table.sc_courselist tr.areaheader.firstrow td  { 
    border-top: none;
} 

table.sc_courselist td[colspan="2"] + td.hourscol  { 
    width: 75px; 
    white-space: nowrap;
} 

#content table.sc_courselist td[colspan="2"] + td.hourscol  { 
    width: 75px; 
    white-space: nowrap;
} 

table.sc_courselist td.codecol  { 
    width: 25%;
} 

table[class^="sc_"] tr.areasubheader td  { 
    font-style: italic;
} 

#content table tr.areasubheader td  { 
    font-weight: bold;
} 

#content table tr.areasubheader td  { 
    font-style: italic;
} 

#content table.sc_courselist tr.areasubheader td  { 
    padding-top: 12px; 
    padding-bottom: 12px; 
    font-style: italic; 
    text-transform: uppercase;
} 

table.sc_courselist tr.orclass td  { 
    padding-top: 0; 
    border-top: none;
} 

table.sc_courselist tr.orclass td.codecol  { 
    padding-left: 1em;
} 

#content table tr.orclass td  { 
    padding-top: 0; 
    border-top: none;
} 

#content table tr.orclass td.codecol  { 
    padding-left: 2em;
} 

table[class^="sc_"] tr .areaheader  { 
    font-weight: bold;
} 

#content table td img  { 
    vertical-align: top;
} 

#content table .keystone-icon  { 
    height: 18px;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#textcontainer.style-VEIr8 {  
   display: none;  
}  
#howtogetintextcontainer.style-kPah4 {  
   display: none;  
}  
#programrequirementstextcontainer.style-5Zzq9 {  
   display: none;  
}  
#style-ZFQ6o.style-ZFQ6o {  
   margin-left:20px;  
}  
#style-pWnNi.style-pWnNi {  
   margin-left:20px;  
}  
#style-ga1tI.style-ga1tI {  
   margin-left:20px;  
}  
#style-ctdIh.style-ctdIh {  
   margin-left:20px;  
}  
#style-DPV6Q.style-DPV6Q {  
   margin-left:20px;  
}  
#style-Y62GU.style-Y62GU {  
   margin-left:20px;  
}  
#style-wohNA.style-wohNA {  
   margin-left:20px;  
}  
#style-eaWJS.style-eaWJS {  
   margin-left:20px;  
}  
#integratedundergradgradprogramtextcontainer.style-eovEo {  
   display: none;  
}  
#learningoutcomestextcontainer.style-eScp6 {  
   display: none;  
}  
#academicadvisingtextcontainer.style-bUS2W {  
   display: none;  
}  
#suggestedacademicplantextcontainer.style-enmDl {  
   display: block;  
}  
#careerpathstextcontainer.style-QeZ69 {  
   display: none;  
}  
#accreditationtextcontainer.style-a9dKi {  
   display: none;  
}  
#professionallicensurecertificationtextcontainer.style-s3mB1 {  
   display: none;  
}  
#contacttextcontainer.style-2CAN3 {  
   display: none;  
}  
/* These were inline style tags. Uses id+class to override almost everything */
#textcontainer.style-nKnZt {  
   display: none;  
}  
#howtogetintextcontainer.style-W2yIw {  
   display: none;  
}  
#programrequirementstextcontainer.style-E16yo {  
   display: none;  
}  
#style-Q89Ki.style-Q89Ki {  
   margin-left:20px;  
}  
#style-GBs1N.style-GBs1N {  
   margin-left:20px;  
}  
#style-Q61yi.style-Q61yi {  
   margin-left:20px;  
}  
#style-FsfZ8.style-FsfZ8 {  
   margin-left:20px;  
}  
#style-mt584.style-mt584 {  
   margin-left:20px;  
}  
#style-3apVJ.style-3apVJ {  
   margin-left:20px;  
}  
#style-VUXvo.style-VUXvo {  
   margin-left:20px;  
}  
#style-Lwgyd.style-Lwgyd {  
   margin-left:20px;  
}  
#integratedundergradgradprogramtextcontainer.style-F8CCk {  
   display: none;  
}  
#learningoutcomestextcontainer.style-FmM4Z {  
   display: none;  
}  
#academicadvisingtextcontainer.style-mZyox {  
   display: none;  
}  
#suggestedacademicplantextcontainer.style-FXddx {  
   display: block;  
}  
#careerpathstextcontainer.style-iqaSP {  
   display: none;  
}  
#accreditationtextcontainer.style-OQlq9 {  
   display: none;  
}  
#professionallicensurecertificationtextcontainer.style-EVslH {  
   display: none;  
}  
#contacttextcontainer.style-zDbse {  
   display: none;  
}  
