* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #172A3A;
    color: rgba(255, 255, 255, 0.9);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    opacity: 1;
    animation: slideTop 1s ease backwards step-end;
    animation-delay: calc(.2s * var(--i));
}

.navbar a.active, .navbar a:hover {
    background: repeating-linear-gradient(-45deg, #172A3A, #6A0DAD, #9B30FF, #6A0DAD, #172A3A);
    /* (FOR NEON GLOW) background: repeating-linear-gradient(-45deg, #172A3A, #9400D3, #EE82EE, #9400D3, #172A3A); */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: slide 5s linear infinite forwards;
    transition: .5s ease;
    filter: drop-shadow(5px);
}

@keyframes slide {
    0% {
        background-position-x: 0%;
    }
    
    100% {
        background-position-x: 3vw;
    }

}

.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    border-radius: 40px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    opacity: 1;
}


.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(-45deg, #172A3A, #6A0DAD, #9B30FF, #6A0DAD, #172A3A);
    background-size: 200%;
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    filter: blur(5px);
    transition: .5s ease;
}

.btn:hover::before {
    background-position: 100% 0;
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(-45deg, #172A3A, #6A0DAD, #9B30FF, #6A0DAD, #172A3A);
    background-size: 200%;
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    transition: .5s ease;
}

.btn:hover::after {
    background-position: 100% 0;

}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

.container{
    background: #172A3A;
    padding:15px 9%;
    padding-bottom: 100px;
}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}

.container .box-container .box img{
    height: 80px;
}

.container .box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

/* .container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
} */

.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}





/* KEYFRAMES ANIMATION */
@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRight {
    
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeft {
    
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes zoomIn {
    
    0% {
        opacity: 0;
        transform: scale(0);
    }
    
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes floatImage {
    
    0% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(-24px);
    }
    
    100% {
        transform: translateY(0);
    }
}

@keyframes circleRotate {
    
    0% {
        transform: rotate(0);
    }
    
    100% {
        transform: rotate(360eg);
    }
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background-color: #333;
    color: white;
}
/* Woah Why you peeking all the way down here????? */